 <div class="sidebar collapsed" id="sidebar">

        <div class="profile">
          <div class="avatar">
            <img id="userAvatar" src="assets/images/default-avatar.png" />
          </div>
            
          <div class="profile-info">
            <span class="role">Produtor Musical</span>
            <span class="name" id="userName"></span>
          </div>
        </div>
    

        <nav class="nav-section">
          <span class="section-label">MENU</span>
    
          <a href="#" class="nav-item">
            <div class="nav-item-row">
              <i data-lucide="music" class="nav-icon"></i>
              <span class="nav-label">Criar música</span>
            </div>
          </a>
    
          <a href="#" class="nav-item">
            <div class="nav-item-row">
              <i data-lucide="library" class="nav-icon"></i>
              <span class="nav-label">Biblioteca</span>
            </div>
          </a>
    
          <a href="#" class="nav-item">
            <div class="nav-item-row">
              <i data-lucide="circle-dollar-sign" class="nav-icon"></i>
              <span class="nav-label">Créditos</span>
            </div>
          </a>

            <a href="#" class="nav-item">
                <div class="nav-item-row">
                  <i data-lucide="circle-user-round" class="nav-icon"></i>
                  <span class="nav-label">Minha conta</span>
                </div>
              </a>
        </nav>

        
        <div class="sidebar-footer">
          <button class="logout-btn" id="logoutBtn">
            <i data-lucide="log-out" class="nav-icon"></i>
            <span class="logout-label">Sair</span>
          </button>
        </div>
      </div>
    
    <button class="sidebar-toggle-outside" id="toggleBtn">
        <i data-lucide="chevron-right" id="toggleIcon"></i>
    </button>
